#sektion4 {
  background: linear-gradient(to bottom, #fff 5%, #eb630e);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#omOsOverskrift {
  position: relative;
  top: 150px;
  width: 100%;
  height: 200px;
  align-content: center;
  text-align: center;
  font-size: 7.5rem;
  font-weight: 400;
}

#omOsNavne {
  position: relative;
  align-content: center;
  top: 150px;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 40px;
}
.menufil {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.dropdown button:hover {
  background-color: darkorange;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.info {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}

@media screen and (max-width: 1280px) {

  #omOsOverskrift {
    position: relative;
    top: 50px;
  }

  #omOsNavne {
    position: relative;
    top: 25px;
  }

  .menufil {
    margin-top: 75px;
  }

}
