/* Juster margin-top for sektion3 */
#sektion3 {
  margin-top: 87px;
}

/* Markeringsfarve og placering for internet-knap */
#checkedinternet {
  background-color: #0065a8;
  top: -15px;
}
/* Markeringsfarve og placering for mobil-knap */
#checkedmobil {
  background-color: #0a6700;
  top: 132px;
}
/* Markeringsfarve og placering for elektricitet-knap */
#checkedelektricitet {
  background-color: rgb(231, 231, 76);
  top: 277px;
}
/* Label position for elektricitet */
#GrafElektricitetLabel {
  top: 43px;
}
/* Label position for mobil */
#GrafMobilLabel {
  top: 24px;
}
/* Standardindstillinger for markerede elementer */
.checkedstr {
  height: 80px;
  width: 80px;
  position: absolute;
  transition: 0.69s ease;
  border-radius: 5px;
  right: 385px;
  opacity: 0;
}
/* Skjuler checkbox for knapperne */
.grafinput {
  display: none;
}
/* Konfigurerer grafbilleder som fleks-kolonne */
.grafbilleder {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 390px;
  cursor: pointer;
  z-index: 2;
}
/* Indstiller grafkategoriernes layout */
#grafkategorier {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 130px;
  justify-content: space-between;
  height: 300px;
  width: max-content;
  left: 400px;
}
/* Definerer grafens boksdimensioner og rammer */
#grafenbox {
  height: 534px;
  width: 885px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  position: absolute;
  top: 34px;
  left: 110px;
  border-radius: 80px 0px 0px 0px;
}
/* Justerer søgeknappens placering */
#sogknap {
  position: relative;
  left: 10px;
  top: -2px;
}
/* Indstiller labels layout */
#grafLabels {
  position: absolute;
  right: 120px;
  width: 160px;
  top: 100px;
  font-size: 20px;
}
/* Animerer fade-effekt for internetindikator */
.fade-box {
  width: 400px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 75px;
  font-size: 15px;
}
/* Animerer fade-effekt for internetindikatoren */
.fade-box-internet {
  background: linear-gradient(to right, #fff 3%, #0065a8);
}
/* Animerer fade-effekt for mobilindikatoren */
.fade-box-mobil {
  background: linear-gradient(to right, #fff 3%, #0a6700);
}
/* Animerer fade-effekt for elektricitetindikator */
.fade-box-elektricitet {
  background: linear-gradient(to right, #fff 3%, rgb(231, 231, 76));
  position: absolute;
  top: 305px;
}
/* Indstiller søgeikonets placering */
#kikkert {
  position: absolute;
  top: 34px;
  left: 204px;
}
/* Indstiller input-feltets layout */
.mat-input {
  position: relative;
  font-size: inherit;
  width: 300px;
  left: 43px;
}
/* Indstiller søgefeltets layout og animationer */
.mat-input input {
  border-width: 0 0 1px;
  outline: none;
  background-color: #fff;
  padding: 1.8em 0.75em 0.75em;
  border-color: #8c8c8c;
  border-style: solid;
  font-size: inherit;
  transition: 0.1s;
}
/* Animation ved hover og fokus på inputfelt */
.mat-input input:hover,
.mat-input input:focus {
  border-bottom-width: 2px;
  padding-bottom: calc(0.75em - 1px);
}
/* Ændrer kantfarve ved hover */
.mat-input input:hover {
  border-color: #121212;
}
/* Ændrer kantfarve ved fokus */
.mat-input input:focus {
  border-color: #eb630e;
}
/* Konfigurerer labelens placering og animation */
.mat-input label {
  position: absolute;
  top: 22.4px;
  left: 16px;
  pointer-events: none;
  transition: 0.2s;
  color: #0009;
}
/* Animation ved input-fokus */
.mat-input:has(input:focus) label {
  color: #eb630e;
}
/* Flytter label ved ikke-tom input */
.mat-input:has(input:focus) label,
.mat-input:not(:has(input:placeholder-shown)) label {
  top: 0.75em;
  font-size: 0.8em;
}
/* Indstiller placeholderens synlighed */
.mat-input input::placeholder {
  opacity: 0;
  transition: 0.2s;
  color: #aaa;
}
/* Gør placeholderen synlig ved fokus */
.mat-input input:focus::placeholder {
  opacity: 1;
}

#grafinputfelt {
  display: flex;
  justify-content: center;
}
/* Indstiller søgeresultaternes layout */
#results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 219px;
}
/* Skjuler resultater, når de ikke bruges */
#results.hidden {
  display: none;
}
/* Indstiller søgeresultaternes styling */
#results div {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}
/* Fremhæver søgeresultater ved hover */
#results div:hover {
  background-color: #f0f0f0;
}
/* Indstiller grafens dimensioner */
#chart {
  width: 100%;
  height: 500px;
}
/* Boks til når man hover over en linje */
.tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}

path {
  cursor: pointer;
}
/* Medieforespørgsel for mindre skærme */
@media screen and (max-width: 1280px) {
  #grafenbox {
    height: 475px;
    margin-top: 50px;
  }
}
