body {
  background-color: whitesmoke;
}
/*lad body element være i toppen*/
/*Tidsvælgerstart*/
#year-selector {
  border-radius: 5px;
  border: black solid 2px;
  height: 30px;
  width: 145px;
  box-shadow: 0px 0px 3px black;
  margin-top: 32px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  left: 48%;
  top: -15px;
  overflow-x: scroll;
}
/*
#arrow {
  transform: rotate(270deg);
  position: absolute;
  left: 50%;
  top: -10px;
  pointer-events: none;
}
*/
#year-selector::-webkit-scrollbar {
  display: none;
}
#years {
  display: flex;
  gap: 10px; /* Space between years */
}

.year {
  padding: 0 5px;
  user-select: none;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  transition: color 0.169s ease; /* Smooth transition for color change */
}

.selected {
  color: grey;
}
/*Tidsvælgerslut*/
#mellemlag {
  display: flex;
}
/*Sidemenustart*/
.radio-input input {
  display: none;
}

.radio-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  height: 300px;
}

.radio-input label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  padding: 25px;
  position: relative;
  left: -14px;
  position: relative;
  left: -14px;
}

.venstrepics {
  width: 30px;
  height: 30px;
}
.selection {
  position: absolute;
  width: 70px;
  height: 90px;
  inset: 6px;
  border-radius: 10px;
  transition: opacity 0.4s ease-out, background-color 0.4s ease-out,
    transform 0.4s ease-out;
  background-color: transparent; /* Start transparent */
  opacity: 0; /* Start invisible */
}
.midten {
  align-items: center; /*Center både tekst og billede*/
}
/* Show and apply the transition when checked */
.radio-input label:has(input:checked) ~ .selection {
  opacity: 1;
}

/* Baggrundsfarverne til venstreknapperne*/
.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateY(0px);
  background-color: #0065a8;
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateY(100px);
  background-color: #0a6700;
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateY(200px);
  background-color: #ff9801;
}
/*Sidemenuslut*/
/*Containertilkortetstart*/
#container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 100%;
  height: auto;
  height: auto;
  position: relative;
  top: 5px;
  box-shadow: 0px 0px 7px black;
}
/*Forlaget*/
#forlaget {
  background-color: black; /*whitesmoke; vi bruger sort til at design lortet. det skal skiftes til whitesmoke indtil aflevering*/
  width: 10%; /*Både w og h skal være 100% for at fungere ordenligt.*/
  height: 10%;
  position: absolute;
  top: -1.1px;
  z-index: 10;
  color: white; /*Tekstens farve*/
  transition: height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

.hidden {
  /*Class' bliver lavet i js.*/
  height: 0;
  opacity: 0;
}
/*Forlaget*/
/*Containertilkortetslut*/
