body {
  background-color: whitesmoke;
}
* {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#brodtekst {
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
/* From Uiverse.io by andrew-demchenk0 */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 255);
  background-color: rgb(84, 84, 255);
  overflow: hidden;
  left: 42%;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: rgb(84, 84, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 145px;
}
.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon:active {
  background-color: rgb(0, 0, 125);
}

.button:active {
  border: 1px solid rgb(0, 0, 125);
}
